body {
  justify-content: center;
  align-items: center;
}

.theme {
  &--light {
    background-color: #f4f4f4;
  }

  &--dark {
    background-color: #333;
  }
}

.header {
  &__title {
    padding: 1rem;
    font-size: 2rem;
  }
}

.main {
  margin: 2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.todo-input {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 20rem;

  &--light {
    background-color: #fff;
  }

  &--dark {
    background-color: #464646;
  }

  &__text {
    padding: 0.5rem;
  }

  &__category {
    width: 100%;
    padding: 0.5rem;
  }

  &__add-button {
    padding: 0.5rem;
    color: #000000;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;

    &--light {
      background-color: #e6e6e6;
    }

    &--dark {
      background-color: #333;
    }
  }
}

.todo-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.todo-list {
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  width: 18rem;
  margin: 1rem;
  flex-direction: column;

  &--light {
    background-color: #fff;
  }

  &--dark {
    background-color: #464646;
  }

  &__title {
    font-size: 1.5rem;
  }
}

.todo-list-item {
  display: flex;
  gap: 1rem;

  &__label {
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;

    &--light {
      background-color: #e6e6e6;
    }

    &--dark {
      background-color: #333;
    }

    &--checked {
      text-decoration: line-through;
    }
  }
}

.theming-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;

  &--light {
    background-color: #e6e6e6;
  }

  &--dark {
    background-color: #464646;
  }
}

.toggle-ball {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;

  &--translated {
    transform: translateX(30px);
  }
}
