.header .title {
  padding: 1rem;
  font-size: 2rem;
}

.theming-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.toggle-ball {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.theme-dark .toggle-ball {
  transform: translateX(30px);
}
